.input-label{
    background-color: var(--b-global-color-light-gray);
    border: none;
    padding: 0 10px;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px var(--b-global-color-light-gray) inset; /* צבע הרקע */
}

.input-label input:-webkit-autofill:-internal-autofill-selected {
    background-color: var(--b-global-color-light-gray);;
}
.input-label span{
    height: 100%;
}
.input-label svg{
    padding: 3px 7px;
}
.single img {
/*    max-width: 30%;
    height: auto;*/
    width: 30%;
    height: 100%;
}

.products{
    overflow-x: auto;
}

.products .product{
    width: 150px;
    margin-left: 10px;
}
.products .add-order-product{
    min-width: 150px;
 }
.product .product-img{
    height: 100%;
    overflow: hidden;
}

.product img{
    height: 100%;
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
}
.product .button{
    height: 30px;
    margin: 0;
}


.boutique-header{
    height: 65px;
    background-color: white;
    border: 0;
    border-bottom:1px solid #C4C4C4;

}
.logo-header{
    height: 100%;
}
.user-name{
    width: max-content;
    margin: 0 15px;
}
.boutique-header .search-site{
    padding: 0 40px;
}
.boutique-header .search-site input{
    background: none;
    border: 0 !important;
}
.boutique-header .search-site input::placeholder {
    color: black;
}

.boutique-header .user-logged{
    height: 40px;
    padding: 0 10px;
    position: relative;
}

.popup-logout{
    position: absolute;
    top: 50px;
    width: 100%;
    left: 0;
}

.box-shadow{
    box-shadow: 1px 2px 14.4px 1px rgba(0, 0, 0, 0.13);
    background: rgba(255, 255, 255, 1);
    border-radius:  5px;
    box-sizing: border-box;
    padding: 15px;
    border: none;
}

#sidebar-menu{
    border-left: #C4C4C4 solid 0.5px;
}

ul.menu{
    list-style-type: none;
    margin: 70px 0 0 0;
    padding: 0 15px;
    height: 60%;
    justify-content: space-around;
}

ul.menu li {
    height: 35px;
   /* padding: 10px 15%;*/
    border-radius: 6px;
}
ul.menu li.selected {
    background-color: #F9F9F9;
}

ul.menu li.selected a{
    font-weight: bold;
}
ul.menu li:hover {
    background-color: #F9F9F9;
}
a.not-link{
    text-decoration: none;
    color: black;
}
ul.menu li svg{
    /*margin-left: 10px;*/
    height: 15px;
    width: 15px;
    flex-basis:30% !important;
}
ul.menu li a{
    flex-basis:60% !important;
}
.quick-action{
    padding: 12px 25px;
    border-radius: 12px;
}
.quick-action svg{
    margin-left: 10px;
}

.archive-search {
    width: 220px;
    height: 40px;
    padding: 0 15px;
    border-radius: 100px;
    /*background: url(/wp-content/uploads/2022/03/icon-search-library.png) no-repeat scroll 10px 12px;*/
}
.archive-search input{
    width: 100%;
}