.input-label{
    background-color: var(--b-global-color-light-gray);
    border: none;
    padding: 0 10px;
}

.boutique-header{
    height: 65px;
    background-color: white;
    border: 0;
    border-bottom:1px solid #C4C4C4;

}
.logo-header{
    height: 100%;
}
.user-name{
    width: max-content;
    margin: 0 15px;
}
.boutique-header .search-site{
    padding: 0 40px;
}
.boutique-header .search-site input{
    background: none;
    border: 0 !important;
}
.boutique-header .search-site input::placeholder {
    color: black;
}

.boutique-header .user-logged{
    height: 40px;
    padding: 0 10px;
}

#sidebar-menu{
    border-left: #C4C4C4 solid 0.5px;
}

ul.menu{
    list-style-type: none;
    margin: 70px 0 0 0;
    padding: 0 20px;
    height: 60%;
    justify-content: space-around;
}

ul.menu li {
    height: 35px;
    padding: 5px 15%;
}
ul.menu li.selected {
    background-color: #F9F9F9;
}
ul.menu li:hover {
    background-color: #F9F9F9;
}
a.not-link{
    text-decoration: none;
    color: black;
}
ul.menu li svg{
    margin-left: 10px;
    height: 15px;
    width: 15px;

}

.quick-action{
    padding: 12px 25px;
    border-radius: 12px;
}
.quick-action svg{
    margin-left: 10px;
}